<div class="container">
  <h2>FavoRave</h2>
  <p>
    こちらは、お気に入りの動画（映画・ドラマ・アニメなど）について熱烈に紹介するためのレビューアプリです！<br>
    お気に入りの動画がある方、世の中に広めたい動画がある方<br>
    鑑賞する動画を探している方、お気に入りの動画について熱く語り合いたい方...などなど<br>
    色んなシーンでぜひ！ご活用ください♪
  </p>
</div>

<div class="container">
  <h4>使用素材</h4>
  <p>提供：Pixabay (https://pixabay.com/ja/)</p>
  <p>提供：PAKUTASO (https://www.pakutaso.com/)</p>
</div>

<div class="container">
  <h4>注意事項</h4>
  <p>
    こちらのアプリはポートフォリオのため予告なく停止する可能性がございます。<br>
    ご了承いただきますようお願いします。
  </p>
</div>